source/Widget/Smeedee.Widget.BurndownChart.SL/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="ActualBurndown" type="tns:ActualBurndown" />
      <xs:element name="IdealBurndown" type="tns:IdealBurndown" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="3,6" name="ProjectName" type="xs:string" />
    <xs:attribute name="IterationName" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ActualBurndown">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ActualBurndownItem" type="tns:ActualBurndownItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActualBurndownItem">
    <xs:attribute name="RemainingWorkEffort" type="xs:double" />
    <xs:attribute blend:FormatParameters="1" name="TimeStampForUpdate" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="IdealBurndown">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="IdealBurndownItem" type="tns:IdealBurndownItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IdealBurndownItem">
    <xs:attribute blend:FormatParameters="1" name="TimeStampForUpdate" type="xs:double" />
    <xs:attribute name="RemainingWorkEffort" type="xs:double" />
  </xs:complexType>
</xs:schema>