source/Widget/Smeedee.Widget.SourceControl.SL/SampleData/ChangesetSampleData/ChangesetSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ChangesetSampleData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ChangesetSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ChangesetSampleData" type="tns:ChangesetSampleData" />
  <xs:complexType name="ChangesetSampleData">
    <xs:sequence>
      <xs:element name="Developer" type="tns:ComplexPropertyType" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="30,8" name="Message" type="xs:string" />
    <xs:attribute blend:Format="Date" name="Date" type="xs:string" />
    <xs:attribute blend:Format="Colors" name="DarkBackgroundColor" type="xs:string" />
    <xs:attribute blend:Format="Colors" name="LightBackgroundColor" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ComplexPropertyType">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute name="ImageUrl" type="xs:string" />
    <xs:attribute blend:Format="Email Address" name="Email" type="xs:string" />
  </xs:complexType>
</xs:schema>