source/Widget/Smeedee.Widget.Corkboard.SL/SampleData/RetrospectiveSampleDataSettings/RetrospectiveSampleDataSettings.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.RetrospectiveSampleDataSettings" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.RetrospectiveSampleDataSettings" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RetrospectiveSampleDataSettings" type="tns:RetrospectiveSampleDataSettings" />
  <xs:complexType name="RetrospectiveSampleDataSettings">
    <xs:sequence>
      <xs:element name="Pros" type="tns:Pros" />
      <xs:element name="Cons" type="tns:Cons" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Pros">
    <xs:sequence>
      <xs:element name="Data" type="tns:Data" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DataItem" type="tns:DataItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataItem">
    <xs:attribute name="Description" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Cons">
    <xs:sequence>
      <xs:element name="Data" type="tns:Data1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Data1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DataItem1" type="tns:DataItem1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataItem1">
    <xs:attribute name="Description" type="xs:string" />
  </xs:complexType>
</xs:schema>