source/Widget/Smeedee.Widget.SourceControl.SL/SampleData/TopCommittersDataSource/TopCommittersDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.TopCommittersDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.TopCommittersDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TopCommittersDataSource" type="tns:TopCommittersDataSource" />
  <xs:complexType name="TopCommittersDataSource">
    <xs:sequence>
      <xs:element name="Data" type="tns:ItemCollection" />
    </xs:sequence>
    <xs:attribute name="SinceDate" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Firstname" name="Firstname" type="xs:string" />
    <xs:attribute blend:FormatParameters="3" name="NumberOfCommits" type="xs:double" />
    <xs:attribute name="ImageUrl" type="xs:string" />
  </xs:complexType>
</xs:schema>