source/APD.Client.Framework.SL/Service References/SettingsService/SettingsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/APD.Framework.Settings" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/APD.Framework.Settings" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1155/APD/Services/SettingsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Settings">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Names" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Values" nillable="true" type="q2:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Settings" nillable="true" type="tns:Settings" />
</xs:schema>