source/APD.Client.Silverlight/SampleData/ProjectInfo/ProjectInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ProjectInfo" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ProjectInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProjectInfo" type="tns:ProjectInfo" />
  <xs:complexType name="ProjectInfo">
    <xs:sequence>
      <xs:element name="Builds" type="tns:Builds" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Builds">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="BuildsItem" type="tns:BuildsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuildsItem">
    <xs:attribute blend:FormatParameters="2,7" name="Trigger" type="xs:string" />
    <xs:attribute name="Status" type="xs:boolean" />
    <xs:attribute blend:Format="Date" name="StartTime" type="xs:string" />
    <xs:attribute blend:Format="Date" name="FinishedTime" type="xs:string" />
  </xs:complexType>
</xs:schema>