source/Client/Smeedee.Client.Framework.SL/SampleData/SelectWidgetsDialogSampleSource/SelectWidgetsDialogSampleSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SelectWidgetsDialogSampleSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SelectWidgetsDialogSampleSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SelectWidgetsDialogSampleSource" type="tns:SelectWidgetsDialogSampleSource" />
  <xs:complexType name="SelectWidgetsDialogSampleSource">
    <xs:sequence>
      <xs:element name="FilteredWidgets" type="tns:FilteredWidgets" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FilteredWidgets">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="FilteredWidgetsItem" type="tns:FilteredWidgetsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FilteredWidgetsItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="75,8" name="Description" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="SecondsOnScreen" type="xs:double" />
    <xs:attribute name="IsDescriptionCapped" type="xs:boolean" />
  </xs:complexType>
</xs:schema>