source/Integration/APD.Integration/CI/CruiseControl/DomainModel/Repositories/XmlServerReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CruiseControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Projects">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element name="Project">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="category" type="xs:string" use="required" />
                  <xs:attribute name="activity" type="xs:string" use="required" />
                  <xs:attribute name="status" type="xs:string" use="required" />
                  <xs:attribute name="lastBuildStatus" type="xs:string" use="required" />
                  <xs:attribute name="lastBuildLabel" type="xs:string" use="required" />
                  <xs:attribute name="lastBuildTime" type="xs:dateTime" use="required" />
                  <xs:attribute name="nextBuildTime" type="xs:dateTime" use="required" />
                  <xs:attribute name="webUrl" type="xs:string" use="required" />
                  <xs:attribute name="buildStage" type="xs:string" use="required" />
                  <xs:attribute name="serverName" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Queues">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element name="Queue">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="Request">
                      <xs:complexType>
                        <xs:attribute name="projectName" type="xs:string" use="required" />
                        <xs:attribute name="activity" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
