source/Integration/APD.Integration/Holidays/XmlCountryHolidays.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Holidays">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="Holiday">
          <xs:complexType>
            <xs:attribute name="date" type="xs:date" use="required" />
            <xs:attribute name="description" type="xs:string" />               
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
