source/APD.Client.WebTests/Service References/SettingsService/SettingsService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://agileprojectdashboard.org" elementFormDefault="qualified" targetNamespace="http://agileprojectdashboard.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1155/APD/Services/SettingsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/APD.Framework.Settings" />
  <xs:element name="SaveSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/APD.Framework.Settings" minOccurs="0" name="settings" nillable="true" type="q1:Settings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/APD.Framework.Settings" minOccurs="0" name="GetSettingsResult" nillable="true" type="q2:Settings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>