source/Client/Smeedee.Client.Web.Tests/Service References/TeamPictureService/TeamPictureRepositoryWebservice2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.TeamPicture" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.TeamPicture" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1155/Smeedee/Services/TeamPictureRepositoryWebservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.Framework" />
  <xs:complexType name="CurrentTeamPictureSpecification">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.Framework" base="q1:SpecificationOfTeamPictureBYJHv6GG">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CurrentTeamPictureSpecification" nillable="true" type="tns:CurrentTeamPictureSpecification" />
  <xs:complexType name="ArrayOfTeamPicture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeamPicture" nillable="true" type="tns:TeamPicture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeamPicture" nillable="true" type="tns:ArrayOfTeamPicture" />
  <xs:complexType name="TeamPicture">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PictureHeight" type="xs:int" />
      <xs:element minOccurs="0" name="PictureWidth" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeamPicture" nillable="true" type="tns:TeamPicture" />
</xs:schema>