source/Widget/Smeedee.Widget.CI.SL/SampleData/SettingsViewSampleData/SettingsViewSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SettingsViewSampleData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SettingsViewSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SettingsViewSampleData" type="tns:SettingsViewSampleData" />
  <xs:complexType name="SettingsViewSampleData">
    <xs:sequence>
      <xs:element name="Servers" type="tns:Servers" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Servers">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ServersItem" type="tns:ServersItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServersItem">
    <xs:sequence>
      <xs:element name="Projects" type="tns:Projects" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Projects">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ProjectsItem" type="tns:ProjectsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProjectsItem">
    <xs:attribute name="ProjectName" type="xs:string" />
    <xs:attribute name="IsSelected" type="xs:boolean" />
  </xs:complexType>
</xs:schema>