source/Client/Smeedee.Client.Web.Tests/Service References/ConfigurationRepositoryService/ConfigurationRepositoryService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://smeedee.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://smeedee.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://smeedee.org/Imports">
      <xsd:import schemaLocation="http://localhost:1155/Smeedee/Services/ConfigurationRepositoryService.svc?xsd=xsd2" namespace="http://smeedee.org" />
      <xsd:import schemaLocation="http://localhost:1155/Smeedee/Services/ConfigurationRepositoryService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1155/Smeedee/Services/ConfigurationRepositoryService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.Framework" />
      <xsd:import schemaLocation="http://localhost:1155/Smeedee/Services/ConfigurationRepositoryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.Config" />
      <xsd:import schemaLocation="http://localhost:1155/Smeedee/Services/ConfigurationRepositoryService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConfigurationRepositoryService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="ConfigurationRepositoryService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="ConfigurationRepositoryService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="ConfigurationRepositoryService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:portType name="ConfigurationRepositoryService">
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://smeedee.org/ConfigurationRepositoryService/Get" message="tns:ConfigurationRepositoryService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://smeedee.org/ConfigurationRepositoryService/GetResponse" message="tns:ConfigurationRepositoryService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://smeedee.org/ConfigurationRepositoryService/Save" message="tns:ConfigurationRepositoryService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://smeedee.org/ConfigurationRepositoryService/SaveResponse" message="tns:ConfigurationRepositoryService_Save_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>