source/Client/Smeedee.Client.Web.Tests/Service References/SlideConfigurationService/SlideConfigurationRepositoryService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:1155/Smeedee/Services/SlideConfigurationRepositoryService.svc?xsd=xsd3" />
      <xsd:import schemaLocation="http://localhost:1155/Smeedee/Services/SlideConfigurationRepositoryService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1155/Smeedee/Services/SlideConfigurationRepositoryService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.Framework" />
      <xsd:import schemaLocation="http://localhost:1155/Smeedee/Services/SlideConfigurationRepositoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.Config.SlideConfig" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SlideConfigurationRepositoryService_Get_InputMessage">
    <wsdl:part name="parameters" element="Get" />
  </wsdl:message>
  <wsdl:message name="SlideConfigurationRepositoryService_Get_OutputMessage">
    <wsdl:part name="parameters" element="GetResponse" />
  </wsdl:message>
  <wsdl:message name="SlideConfigurationRepositoryService_Save_InputMessage">
    <wsdl:part name="parameters" element="Save" />
  </wsdl:message>
  <wsdl:message name="SlideConfigurationRepositoryService_Save_OutputMessage">
    <wsdl:part name="parameters" element="SaveResponse" />
  </wsdl:message>
  <wsdl:message name="SlideConfigurationRepositoryService_Delete_InputMessage">
    <wsdl:part name="parameters" element="Delete" />
  </wsdl:message>
  <wsdl:message name="SlideConfigurationRepositoryService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="SlideConfigurationRepositoryService">
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="urn:SlideConfigurationRepositoryService/Get" message="SlideConfigurationRepositoryService_Get_InputMessage" />
      <wsdl:output wsaw:Action="urn:SlideConfigurationRepositoryService/GetResponse" message="SlideConfigurationRepositoryService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="urn:SlideConfigurationRepositoryService/Save" message="SlideConfigurationRepositoryService_Save_InputMessage" />
      <wsdl:output wsaw:Action="urn:SlideConfigurationRepositoryService/SaveResponse" message="SlideConfigurationRepositoryService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="urn:SlideConfigurationRepositoryService/Delete" message="SlideConfigurationRepositoryService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="urn:SlideConfigurationRepositoryService/DeleteResponse" message="SlideConfigurationRepositoryService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>