source/Client/Smeedee.Client.Web.Tests/Service References/SlideConfigurationService/SlideConfigurationRepositoryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1155/Smeedee/Services/SlideConfigurationRepositoryService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.Framework" />
  <xs:import schemaLocation="http://localhost:1155/Smeedee/Services/SlideConfigurationRepositoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.Config.SlideConfig" />
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.Framework" minOccurs="0" name="specification" nillable="true" type="q1:SpecificationOfSlideConfigurationNus8YO64" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.Config.SlideConfig" minOccurs="0" name="GetResult" nillable="true" type="q2:ArrayOfSlideConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.Config.SlideConfig" minOccurs="0" name="configuration" nillable="true" type="q3:SlideConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.Framework" minOccurs="0" name="specification" nillable="true" type="q4:SpecificationOfSlideConfigurationNus8YO64" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>