source/Widget/Smeedee.Widget.Twitter/SampleData/TwitterSampleDataSource/TwitterSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.TwitterSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.TwitterSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TwitterSampleDataSource" type="tns:TwitterSampleDataSource" />
  <xs:complexType name="TwitterSampleDataSource">
    <xs:sequence>
      <xs:element name="Data" type="tns:Data" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DataItem" type="tns:DataItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataItem">
    <xs:attribute blend:Format="Email Address" name="Username" type="xs:string" />
    <xs:attribute blend:FormatParameters="49,8" name="Message" type="xs:string" />
    <xs:attribute blend:Format="Date" name="Date" type="xs:string" />
    <xs:attribute name="UserImageUrl" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>