source/Widget/Smeedee.Widget.CI.SL/SampleData/SampleDataSource1/SampleDataSource1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleDataSource1" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleDataSource1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource1" type="tns:SampleDataSource1" />
  <xs:complexType name="SampleDataSource1">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="SampleServers" type="xs:string" />
  </xs:complexType>
</xs:schema>