source/APD.Client.Widget.CI.SL/SampleData/ProjectInfoSampleData/ProjectInfoSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ProjectInfoSampleData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ProjectInfoSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProjectInfoSampleData" type="tns:ProjectInfoSampleData" />
  <xs:complexType name="ProjectInfoSampleData">
    <xs:sequence>
      <xs:element name="LatestBuild" type="tns:LatestBuild" />
    </xs:sequence>
    <xs:attribute blend:Format="Company Name" name="ProjectName" type="xs:string" />
    <xs:attribute name="IsSoundEnabled" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="LatestBuild">
    <xs:sequence>
      <xs:element name="TriggeredBy" type="tns:TriggeredBy1" />
    </xs:sequence>
    <xs:attribute blend:Format="Time" name="BuildDuration" type="xs:string" />
    <xs:attribute blend:Format="Time" name="StartTime" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="Status" type="xs:string" />
    <xs:attribute blend:FormatParameters="2,6" name="TriggerCause" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="TriggeredBy1">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute name="ImageUrl" type="tns:Basic-Image" />
    <xs:attribute blend:Format="Email Address" name="Email" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>