source/Widget/Smeedee.Widget.Admin.Tasks.SL/SampleData/TaskInstancesSampleDataSource/TaskInstancesSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.TaskInstancesSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.TaskInstancesSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TaskInstancesSampleDataSource" type="tns:TaskInstancesSampleDataSource" />
  <xs:complexType name="TaskInstancesSampleDataSource">
    <xs:sequence>
      <xs:element name="TaskInstances" type="tns:TaskInstances" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaskInstances">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="TaskInstancesItem" type="tns:TaskInstancesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaskInstancesItem">
    <xs:attribute name="InstanceName" type="xs:string" />
  </xs:complexType>
</xs:schema>