source/Widget/APD.Client.Widget.Admin.SL/SampleData/UserSampleDataSource/UserSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.UserSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.UserSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UserSampleDataSource" type="tns:UserSampleDataSource" />
  <xs:complexType name="UserSampleDataSource">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Email Address" name="Email" type="xs:string" />
    <xs:attribute blend:Format="Website URL" name="ImageUrl" type="xs:string" />
    <xs:attribute blend:Format="Name" name="Username" type="xs:string" />
  </xs:complexType>
</xs:schema>