source/Client/Smeedee.Client.Web.Tests/Service References/TaskDefRepositoryService/TaskDefinitionRepositoryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.TaskDefinition" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.TaskDefinition" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTaskDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskDefinition" nillable="true" type="tns:TaskDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskDefinition" nillable="true" type="tns:ArrayOfTaskDefinition" />
  <xs:complexType name="TaskDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SettingDefinitions" nillable="true" type="tns:ArrayOfTaskSettingDefinition" />
      <xs:element minOccurs="0" name="Version" type="xs:long" />
      <xs:element minOccurs="0" name="Webpage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskDefinition" nillable="true" type="tns:TaskDefinition" />
  <xs:complexType name="ArrayOfTaskSettingDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskSettingDefinition" nillable="true" type="tns:TaskSettingDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskSettingDefinition" nillable="true" type="tns:ArrayOfTaskSettingDefinition" />
  <xs:complexType name="TaskSettingDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="DefaultValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SettingName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskSettingDefinition" nillable="true" type="tns:TaskSettingDefinition" />
</xs:schema>