source/Widget/Smeedee.Widget.Charting.SL/SampleData/GraphSettingsSampleDataSource/GraphSettingsSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.GraphSettingsSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.GraphSettingsSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GraphSettingsSampleDataSource" type="tns:GraphSettingsSampleDataSource" />
  <xs:complexType name="GraphSettingsSampleDataSource">
    <xs:sequence>
      <xs:element name="Databases" type="tns:Databases" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Databases">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DatabasesItem" type="tns:DatabasesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatabasesItem">
    <xs:sequence>
      <xs:element name="Collections" type="tns:Collections" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="2,8" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Collections">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CollectionsItem" type="tns:CollectionsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CollectionsItem">
    <xs:attribute blend:FormatParameters="3,8" name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>