source/Client/Smeedee.Client.Framework.SL/Service References/WebSnapshotRepositoryService/smeedee.org.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://smeedee.org" elementFormDefault="qualified" targetNamespace="http://smeedee.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="Smeedee.DomainModel.WebSnapshot" />
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="Smeedee.DomainModel.WebSnapshot" minOccurs="0" name="GetResult" nillable="true" type="q1:ArrayOfWebSnapshot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>