source/Client/Smeedee.Client.Framework.SL/Service References/WebSnapshotRepositoryService/WebSnapshotRepositoryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="Smeedee.DomainModel.WebSnapshot" elementFormDefault="qualified" targetNamespace="Smeedee.DomainModel.WebSnapshot" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1155/Smeedee/Services/WebSnapshotRepositoryService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfWebSnapshot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebSnapshot" nillable="true" type="tns:WebSnapshot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebSnapshot" nillable="true" type="tns:ArrayOfWebSnapshot" />
  <xs:complexType name="WebSnapshot">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PictureFilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PictureHeight" type="xs:int" />
      <xs:element minOccurs="0" name="PictureWidth" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="WebSnapshot" nillable="true" type="tns:WebSnapshot" />
</xs:schema>