source/Client/Smeedee.Client.Framework.SL/Service References/WebSnapshotRepositoryService/WebSnapshotRepositoryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://smeedee.org" elementFormDefault="qualified" targetNamespace="http://smeedee.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1155/Smeedee/Services/WebSnapshotRepositoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.Framework" />
  <xs:import schemaLocation="http://localhost:1155/Smeedee/Services/WebSnapshotRepositoryService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.WebSnapshot" />
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.Framework" minOccurs="0" name="specification" nillable="true" type="q1:SpecificationOfWebSnapshotdOnq7YmO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.WebSnapshot" minOccurs="0" name="GetResult" nillable="true" type="q2:ArrayOfWebSnapshot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.WebSnapshot" minOccurs="0" name="webSnapshots" nillable="true" type="q3:ArrayOfWebSnapshot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>