source/Widget/Smeedee.Widget.Admin.Tasks.SL/SampleData/TaskDefinitions/TaskDefinitions.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.TaskDefinitions" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.TaskDefinitions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TaskDefinitions" type="tns:TaskDefinitions" />
  <xs:complexType name="TaskDefinitions">
    <xs:sequence>
      <xs:element name="Tasks" type="tns:Tasks" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Tasks">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="TasksItem" type="tns:TasksItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TasksItem">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>