source/Widget/Smeedee.Widget.Standard/SampleData/SourceControlViewModelSampleDataSource/SourceControlViewModelSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SourceControlViewModelSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SourceControlViewModelSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SourceControlViewModelSampleDataSource" type="tns:SourceControlViewModelSampleDataSource" />
  <xs:complexType name="SourceControlViewModelSampleDataSource">
    <xs:sequence>
      <xs:element name="Changesets" type="tns:Changesets" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Changesets">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ChangesetsItem" type="tns:ChangesetsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangesetsItem">
    <xs:attribute blend:FormatParameters="18,10" name="Comment" type="xs:string" />
    <xs:attribute blend:Format="Time" name="Time" type="xs:string" />
    <xs:attribute blend:FormatParameters="3" name="Revision" type="xs:double" />
    <xs:attribute name="AvatarUrl" type="tns:Basic-Image" />
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>