source/Client/Smeedee.Client.Framework.SL/Service References/ChangesetRepositoryService/ChangesetRepositoryService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="Smeedee.DomainModel.SourceControl" elementFormDefault="qualified" targetNamespace="Smeedee.DomainModel.SourceControl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1155/Smeedee/Services/ChangesetRepositoryService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.SourceControl" />
  <xs:import schemaLocation="http://localhost:1155/Smeedee/Services/ChangesetRepositoryService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfChangeset">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Changeset" nillable="true" type="tns:Changeset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChangeset" nillable="true" type="tns:ArrayOfChangeset" />
  <xs:complexType name="Changeset">
    <xs:sequence>
      <xs:element minOccurs="0" name="Revision" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.SourceControl" minOccurs="0" name="Author" nillable="true" type="q1:Author" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Server" nillable="true" type="tns:ChangesetServer" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Changeset" nillable="true" type="tns:Changeset" />
  <xs:complexType name="ChangesetServer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Changesets" nillable="true" type="tns:ArrayOfChangeset" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ChangesetServer" nillable="true" type="tns:ChangesetServer" />
</xs:schema>