source/Client/Smeedee.Client.Framework.SL/Service References/ChangesetRepositoryService/ChangesetRepositoryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://smeedee.org" elementFormDefault="qualified" targetNamespace="http://smeedee.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1155/Smeedee/Services/ChangesetRepositoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.Framework" />
  <xs:import schemaLocation="http://localhost:1155/Smeedee/Services/ChangesetRepositoryService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.SourceControl" />
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.Framework" minOccurs="0" name="specification" nillable="true" type="q1:SpecificationOfChangesetj2kd_Pkf2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.SourceControl" minOccurs="0" name="GetResult" nillable="true" type="q2:ArrayOfChangeset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>