source/Widget/Smeedee.Widget.Corkboard.SL/SampleData/RetrospectiveNotesSampleData/RetrospectiveNotesSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.RetrospectiveNotesSampleData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.RetrospectiveNotesSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RetrospectiveNotesSampleData" type="tns:RetrospectiveNotesSampleData" />
  <xs:complexType name="RetrospectiveNotesSampleData">
    <xs:sequence>
      <xs:element name="PositiveNotes" type="tns:PositiveNotes" />
      <xs:element name="NegativeNotes" type="tns:NegativeNotes" />
      <xs:element name="ComplexProperty" type="tns:ComplexPropertyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PositiveNotes">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PositiveNotesItem" type="tns:PositiveNotesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PositiveNotesItem">
    <xs:attribute blend:FormatParameters="20,8" name="Description" type="xs:string" />
    <xs:attribute blend:FormatParameters="1" name="RandomAngel" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="NegativeNotes">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="NegativeNotesItem" type="tns:NegativeNotesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NegativeNotesItem">
    <xs:attribute blend:FormatParameters="20,8" name="Description" type="xs:string" />
    <xs:attribute blend:FormatParameters="1" name="RandomAngel" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="ComplexPropertyType">
    <xs:sequence>
      <xs:element name="Collection" type="tns:CollectionItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CollectionItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CollectionItem" type="tns:CollectionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CollectionItem" />
</xs:schema>