source/APD.Client.Widget.SourceControl.SL/SampleData/ChangesetsSampleDataSource/ChangesetsSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ChangesetsSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ChangesetsSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ChangesetsSampleDataSource" type="tns:ChangesetsSampleDataSource" />
  <xs:complexType name="ChangesetsSampleDataSource">
    <xs:sequence>
      <xs:element name="Changesets" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element name="Developer" type="tns:ComplexPropertyType" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="16,8" name="Message" type="xs:string" />
    <xs:attribute blend:Format="Date" name="Date" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ComplexPropertyType">
    <xs:attribute blend:Format="Email Address" name="Email" type="xs:string" />
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute name="ImageUrl" type="xs:string" />
  </xs:complexType>
</xs:schema>