source/Widget/Smeedee.Widget.Charting.SL/SampleData/GraphSampleDataSource/GraphSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.GraphSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.GraphSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GraphSampleDataSource" type="tns:GraphSampleDataSource" />
  <xs:complexType name="GraphSampleDataSource">
    <xs:sequence>
      <xs:element name="Data" type="tns:Data" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DataItem" type="tns:DataItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataItem">
    <xs:attribute blend:Format="Date" name="X" type="xs:string" />
    <xs:attribute blend:FormatParameters="3" name="Y" type="xs:double" />
  </xs:complexType>
</xs:schema>