source/Client/Smeedee.Client.Framework.SL/Service References/TaskConfigurationRepositoryService/TaskConfigurationRepositoryWebservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.TaskInstanceConfiguration" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Smeedee.DomainModel.TaskInstanceConfiguration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTaskConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskConfiguration" nillable="true" type="tns:TaskConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskConfiguration" nillable="true" type="tns:ArrayOfTaskConfiguration" />
  <xs:complexType name="TaskConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="DispatchInterval" type="xs:int" />
      <xs:element minOccurs="0" name="Entries" nillable="true" type="tns:ArrayOfTaskConfigurationEntry" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskConfiguration" nillable="true" type="tns:TaskConfiguration" />
  <xs:complexType name="ArrayOfTaskConfigurationEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskConfigurationEntry" nillable="true" type="tns:TaskConfigurationEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskConfigurationEntry" nillable="true" type="tns:ArrayOfTaskConfigurationEntry" />
  <xs:complexType name="TaskConfigurationEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="TaskConfiguration" nillable="true" type="tns:TaskConfiguration" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskConfigurationEntry" nillable="true" type="tns:TaskConfigurationEntry" />
</xs:schema>