source/APD.Client.Widget.DeveloperInfo.SL/SampleData/UserSampleData/UserSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making 
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.UserSampleData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.UserSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UserSampleData" type="tns:UserSampleData" />
  <xs:complexType name="UserSampleData">
    <xs:attribute blend:Format="Email Address" name="Email" type="xs:string" />
    <xs:attribute name="ImageUrl" type="xs:string" />
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>