source/Widget/Smeedee.Widget.TeamMembers.SL/SampleData/userDomainDataSource/userDomainDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.userDomainDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.userDomainDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="userDomainDataSource" type="tns:userDomainDataSource" />
  <xs:complexType name="userDomainDataSource">
    <xs:sequence>
      <xs:element name="TeamMembers" type="tns:TeamMembers" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TeamMembers">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="TeamMembersItem" type="tns:TeamMembersItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TeamMembersItem">
    <xs:attribute name="ImageUrl" type="xs:string" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="Surname" type="xs:string" />
    <xs:attribute name="Username" type="xs:string" />
    <xs:attribute name="Middlename" type="xs:string" />
    <xs:attribute name="Email" type="xs:string" />
    <xs:attribute name="Firstname" type="xs:string" />
  </xs:complexType>
</xs:schema>