source/Client/Smeedee.Client.Framework.SL/SampleData/EditSlideshowDialogSampleDataSource/EditSlideshowDialogSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.EditSlideshowDialogSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.EditSlideshowDialogSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EditSlideshowDialogSampleDataSource" type="tns:EditSlideshowDialogSampleDataSource" />
  <xs:complexType name="EditSlideshowDialogSampleDataSource">
    <xs:sequence>
      <xs:element name="Slideshow" type="tns:Slideshow" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Slideshow">
    <xs:sequence>
      <xs:element name="Slides" type="tns:Slides" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Slides">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="SlidesItem" type="tns:SlidesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SlidesItem">
    <xs:attribute name="Thumbnail" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>