source/Widget/APD.Client.Widget.Admin.SL/SampleData/UserdbSampleDataSource/UserdbSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.UserdbSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.UserdbSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UserdbSampleDataSource" type="tns:UserdbSampleDataSource" />
  <xs:complexType name="UserdbSampleDataSource">
    <xs:sequence>
      <xs:element name="Data" type="tns:Data" />
      <xs:element name="DuckTypedData" type="tns:DuckTypedData" />
    </xs:sequence>
    <xs:attribute name="DataIsChanged" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DataItem" type="tns:DataItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataItem">
    <xs:attribute blend:Format="Name" name="Username" type="xs:string" />
    <xs:attribute blend:Format="Email Address" name="Email" type="xs:string" />
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Website URL" name="ImageUrl" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DuckTypedData">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="DuckTypedDataItem" type="tns:DuckTypedDataItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DuckTypedDataItem">
    <xs:attribute blend:Format="Name" name="Email" type="xs:string" />
    <xs:attribute blend:Format="Website URL" name="ImageUrl" type="xs:string" />
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Name" name="Username" type="xs:string" />
  </xs:complexType>
</xs:schema>