source/Widget/Smeedee.Widget.CI.SL/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Data" type="tns:CollectionItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CollectionItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CollectionItem" type="tns:CollectionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CollectionItem">
    <xs:sequence>
      <xs:element name="LatestBuild" type="tns:LatestBuild" />
    </xs:sequence>
    <xs:attribute blend:Format="Company Name" name="ProjectName" type="xs:string" />
    <xs:attribute name="Status" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="LatestBuild">
    <xs:sequence>
      <xs:element name="TriggeredBy" type="tns:ComplexPropertyType2" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComplexPropertyType2">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Email Address" name="Email" type="xs:string" />
    <xs:attribute name="ImageUrl" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>