source/APD.Client.WebTests/Service References/HolidayService/HolidayRepositoryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/APD.DomainModel.Holidays" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/APD.DomainModel.Holidays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1155/APD/Services/HolidayRepositoryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:1155/APD/Services/HolidayRepositoryService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/APD.DomainModel.Framework" />
  <xs:complexType name="HolidaySpecification">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/APD.DomainModel.Framework" base="q1:SpecificationOfHoliday7I8VfRNy">
        <xs:sequence>
          <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="NonWorkingDaysOfWeek" nillable="true" type="q2:ArrayOfDayOfWeek" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HolidaySpecification" nillable="true" type="tns:HolidaySpecification" />
  <xs:complexType name="ArrayOfHoliday">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Holiday" nillable="true" type="tns:Holiday" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHoliday" nillable="true" type="tns:ArrayOfHoliday" />
  <xs:complexType name="Holiday">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Holiday" nillable="true" type="tns:Holiday" />
</xs:schema>