source/APD.Client.WebTests/Service References/HolidayService/HolidayRepositoryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/APD.DomainModel.Holidays" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/APD.DomainModel.Holidays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHoliday">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Holiday" nillable="true" type="tns:Holiday" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHoliday" nillable="true" type="tns:ArrayOfHoliday" />
  <xs:complexType name="Holiday">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Holiday" nillable="true" type="tns:Holiday" />
</xs:schema>